.App {
  text-align: center;
}

#logo {
  animation: App-logo-blink infinite 0.9s linear;
  height: 27px;
  width: 18px;
  background-color: #669650;
  margin-bottom: 0%;
  float: right;
}
ul {
  float: right;
  color: #669650;
  text-decoration: none;
  display: inline-flex;
  margin-right: 20px;
  text-decoration: none;
  font-size: 20px;
}
img {
  height: 100px;
  width: 100px;
}

nav {
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: #0b0b0b;

  position: fixed;
}
#App-name {
  color: #669650;
  float: left;
  margin-left: 5px;
}

@keyframes App-logo-blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home {
  width: 100vw;
  background-image: linear-gradient(#000000, #040e13);

  height: 800px;
  margin-top: 50px;
}
.skill {
  width: 100vw;
  /* background-color: #33332d; */
  background: #669650;
  height: 800px;
  padding: 0;
  text-align: left;
  font-family: "Righteous";
  color: white;
  text-align: center;
  padding-top: 10%;
}

#name {
  color: #669650;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
  font-size: 50px;
  align-content: center;
}
#domain {
  color: #669650;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  font-size: 25px;
  align-content: center;
}
.github {
  width: 100vw;
  background-image: linear-gradient(#000000, #040e13);
  height: 800px;
  padding: 0;
  height: 800px;
  padding: 0;
  text-align: left;
  font-family: "Righteous";
  color: white;
  text-align: center;
  padding-top: 10%;
}
.contact {
  width: 100vw;
  background-color: #0b0b0b;
  height: 800px;
  margin-top: -22px;
  padding: 0;
}
#link {
  margin-left: 10px;
}

ul > .active {
  border-bottom: 1px solid #ccc;
}
